
body{
    font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
    background-color: #251f1f;
}


.principal{
    height: 100%;
    width: 85%;
    background-color: rgb(255, 231, 231);
    margin: 0;
    justify-self: center;
}
.divao{
        height: 60;
        width: 100%;
        background-color: rgba(127, 255, 212, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

.divinha{
    background-color: rgba(146, 40, 132, 0);
    border-radius: 2px;
    width: 1000px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
   color: rgb(0, 0, 0); 
   font-size: 70px;
}

.Cornelius{
    color: rgb(53, 37, 65);
    font-size: 67px;

    justify-self: center;
}

.batata{
    color: blue;
}

.Coconut{
    display: flex;       
    flex-direction: column;         /* Ativa o flexbox */
    justify-content: center;      /* Centraliza horizontalmente */
    align-items: center;          /* Centraliza verticalmente */
    height: 400px; 
}

.Cornelius span{
    display: inline-block;
    animation: jump 0.6s infinite ease-in-out;

}
/* Exemplo: Aumentar largura para 500px, altura ajusta automática */
img {
  width: 400px;
  height: auto;
  border-radius: 18px;
}
.sahur{
     display: flex;       
    flex-direction: column;         /* Ativa o flexbox */
    justify-content: center;      /* Centraliza horizontalmente */
    align-items: center;          /* Centraliza verticalmente */
    height: 400px; 
}

.info{
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.info2{
    font-size: 20px;
}

@keyframes jump {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); } /* Altura do pulo */
    0% { color: #ff0000; }
    20% { color: #ff9900; }
    40% { color: #33ff00; }
    60% { color: #0099ff; }
    80% { color: #9900ff; }
    100% { color: #ff0000; }
}
